extends includes/layout

block body-header
  include includes/header

block body-main

  .container 
    .banner-page 
      img(src="https://scontent.fclo3-2.fna.fbcdn.net/v/t39.30808-6/302195054_957086098556536_5615291839428113260_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeEZR5Pje99G4r0wxI44i03UJAaTxKKO8R8kBpPEoo7xHzmO7_IbmmlETUrOaRNa1tvYds9W5FD3yi457fteHyvs&_nc_ohc=CJK_wOXstWIAX8E47bC&_nc_ht=scontent.fclo3-2.fna&oh=00_AfAsbnwPiOMqGxVSi7tL9TnTXcZ7du72q-Tlw5ijuUGrLw&oe=639B872F" alt="" srcset="")
    .content 
      .page
        h2 Historia 
        p Maxime fuga vitae placeat. Iusto officia eaque error quia et fuga atque excepturi eveniet ex voluptates. Necessitatibus libero doloremque porro nam ipsam?
        p Curabitur posuere aliquam arcu vel gravida. Cras turpis lacus, consequat nec metus in, molestie consectetur mi. Cras imperdiet, nisi et convallis tincidunt, nisl metus iaculis dui, quis dapibus sem velit a turpis. Proin vel nunc id lectus bibendum vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent volutpat turpis metus, ut ultrices nulla fermentum in. Aliquam erat volutpat. Curabitur lacinia tempor felis id sollicitudin. Maecenas ut feugiat est. Proin commodo velit nec lectus dictum, non pretium dui gravida. Integer eget sapien gravida, mollis lectus id, rhoncus elit. Mauris pulvinar urna id massa ullamcorper, ac fringilla nunc tristique. Mauris vestibulum sapien ultrices hendrerit mattis. Suspendisse nec ultrices est, et pharetra eros. Quisque porta convallis volutpat.
        img(src="https://www.elespectador.com/resizer/mQO2Y6YgbihjtHRm5uqH37tdOTo=/657x0/filters:format(jpeg)/cloudfront-us-east-1.images.arcpublishing.com/elespectador/Y37QEWVPYVAXVKPYMKZFNXPTJE.jpg" alt="" srcset="")

        p Aenean nec egestas mauris. Aenean ut sollicitudin orci. Donec diam lectus, fringilla vel condimentum quis, laoreet rhoncus lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed placerat libero nec nisl iaculis laoreet. Nullam ornare ac augue a euismod. Integer a ullamcorper lectus, sit amet lobortis velit. Aliquam reprehenderit perspiciatis laudantium similique ab nam sint repudiandae! Quod enim dicta nostrum, omnis vitae praesentium natus, esse illo, odit ipsam amet.
        p consectetur adipisicing elit. Minus quos doloribus omnis sint mollitia atque, aliquid a dicta aperiam debitis quaerat perspiciatis dolores ab fugit illo ipsa totam saepe iure?
        h2 Visión
        p Itaque repellendus aperiam tempore consequuntur illo explicabo consequatur, aut nobis aliquam perspiciatis ipsam facilis natus placeat dolor nesciunt animi, iste laborum! Ullam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure provident explicabo distinctio impedit. Aspernatur soluta omnis, illum praesentium at doloremque ad officiis! Vitae unde voluptate, voluptatem eveniet nulla explicabo totam!
        h2 Misión
        p  Donec lacinia non diam sit amet sodales. Fusce facilisis, urna ac suscipit gravida, sapien orci tincidunt odio, ac imperdiet eros lacus sed metus. Quisque quis tincidunt orci. Fusce in mauris lacinia, rhoncus justo sit amet, tincidunt turpis. Fusce rhoncus gravida metus in commodo. Pellentesque sit amet lobortis magna. Integer aliquet felis quis lorem bibendum molestie. Nulla feugiat augue at efficitur mollis. Etiam bibendum consectetur molestie. Aenean cursus eros in erat porta consectetur. Iusto, odit veritatis asperiores recusandae nobis quo ipsam, quaerat, dolores rem a eum adipisci. Non optio repudiandae quod eligendi deleniti accusantium unde.
        ul 
          li 
            a(href="/") Itaque repellendus aperiam tempore consequuntur
          li 
            a(href="/")  Aliquam reprehenderit perspiciatis
          li 
            a(href="/") Maxime fuga vitae placeat usto officia eaque error
          li 
            p Placeat usto officia eaque error
          li 
            p Minus quos doloribus omnis sint

        //- Sección de Valores
        .values 
          .values-title
            h3 Valores corporativos
          .cards-values 
            .card 
              img(src="https://cdn-icons-png.flaticon.com/512/3062/3062103.png" alt="")
              h3 Título 1
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum ad officia inventore accusamus facilis ullam placeat vero nam eum, quibusdam delectus, quasi corporis dolorem voluptas ducimus molestiae voluptate mollitia modi!
            .card 
              img(src="https://cdn-icons-png.flaticon.com/512/3062/3062103.png" alt="")
              h3 Título 1
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum ad officia inventore accusamus facilis ullam placeat vero nam eum, quibusdam delectus, quasi corporis dolorem voluptas ducimus molestiae voluptate mollitia modi!
            .card 
              img(src="https://cdn-icons-png.flaticon.com/512/3062/3062103.png" alt="")
              h3 Título 1
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum ad officia inventore accusamus facilis ullam placeat vero nam eum, quibusdam delectus, quasi corporis dolorem voluptas ducimus molestiae voluptate mollitia modi!

        .principles
          .principles-title
            h3 Valores corporativos
          .cards-principles 
            - var brightness = 0
            .card 
              img(src="https://cdn-icons-png.flaticon.com/512/3062/3062103.png" alt="")
              h3 Título 1
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum ad officia inventore accusamus facilis ullam placeat vero nam eum, quibusdam delectus, quasi corporis dolorem voluptas ducimus molestiae voluptate mollitia modi!
            .card 
              img(src="https://cdn-icons-png.flaticon.com/512/3062/3062103.png" alt="")
              h3 Título 1
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum ad officia inventore accusamus facilis ullam placeat vero nam eum, quibusdam delectus, quasi corporis dolorem voluptas ducimus molestiae voluptate mollitia modi!
            .card 
              img(src="https://cdn-icons-png.flaticon.com/512/3062/3062103.png" alt="")
              h3 Título 1
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum ad officia inventore accusamus facilis ullam placeat vero nam eum, quibusdam delectus, quasi corporis dolorem voluptas ducimus molestiae voluptate mollitia modi!







block body-footer
  include includes/footer