extends includes/layout

block body-header
  include includes/header

block body-main

  .container 
    .banner-page-post
      img(src="https://muchosnegociosrentables.com/wp-content/uploads/2020/07/como-iniciar-una-papeleria-pequena.jpg", alt="", srcset="")
    .content 
      .page
        h1 Portal de pedidos 
        h2 ¿Qué es?
        p Maxime fuga vitae placeat. Iusto officia eaque error quia et fuga atque excepturi eveniet ex voluptates. Necessitatibus libero doloremque porro nam ipsam?
        p Curabitur posuere aliquam arcu vel gravida. Cras turpis lacus, consequat nec metus in, molestie consectetur mi. Cras imperdiet, nisi et convallis tincidunt, nisl metus iaculis dui, quis dapibus sem velit a turpis. Proin vel nunc id lectus bibendum vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent volutpat turpis metus, ut ultrices nulla fermentum in. Aliquam erat volutpat. Curabitur lacinia tempor felis id sollicitudin. Maecenas ut feugiat est. Proin commodo velit nec lectus dictum, non pretium dui gravida. Integer eget sapien gravida, mollis lectus id, rhoncus elit. Mauris pulvinar urna id massa ullamcorper, ac fringilla nunc tristique. Mauris vestibulum sapien ultrices hendrerit mattis. Suspendisse nec ultrices est, et pharetra eros. Quisque porta convallis volutpat.
        
        h2 ¿Cómo funciona?
        p Itaque repellendus aperiam tempore consequuntur illo explicabo consequatur, aut nobis aliquam perspiciatis ipsam facilis natus placeat dolor nesciunt animi, iste laborum! Ullam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure provident explicabo distinctio impedit. Aspernatur soluta omnis, illum praesentium at doloremque ad officiis! Vitae unde voluptate, voluptatem eveniet nulla explicabo totam!
      
        img(src="https://muchosnegociosrentables.com/wp-content/uploads/2020/07/como-iniciar-una-papeleria-pequena.jpg", alt="", srcset="")
        ul 
          li 
            p Placeat usto officia eaque error
          li 
            p Minus quos doloribus omnis sint




block body-footer
  include includes/footer