footer
  .footer-content
    .info
      .logo
        img(src="/img/prex-footer.png", alt="", srcset="")
      .text
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem soluta incidunt distinctio qui non consequuntur nihil! Ut fugiat nam voluptatem, sint tenetur alias dolorum.
    hr
    .contacto
      .title CONTACTO
      ul.contact
        li.contact-item
          .fa-solid.fa-location-dot
          a(href="https://www.google.com/maps/place/Cali,+Valle+del+Cauca/data=!4m2!3m1!1s0x8e30a6f0cc4bb3f1:0x1f0fb5e952ae6168?sa=X&ved=2ahUKEwieht_osvT7AhX8RDABHWk-DpoQ8gF6BAgIEAE") Location
        li.contact-item
          .fa-solid.fa-phone
          a(href="tel: 1111111") 651651 8545
        li.contact-item
          .fa-solid.fa-envelope
          a(href="mailto: Email@email.com ") Email@email.com
        li.contact-item
          <i class="fa-solid fa-calendar"></i>
          a(href="mailto: Email@email.com ") Email@email.com
    <hr>
    .socialnetworks
      .title REDES
      .logos
        ul
          li
            a(href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202.")
              <i class="fa-brands fa-whatsapp"></i>
          li
            a(href="/")
              <i class="fa-brands fa-facebook"></i>
          li
            a(href="/")
              <i class="fa-brands fa-instagram"></i>
    
    .legal
      ul
        li
          a(href="#") Politicas de privacidad
        li
          a(href="#") Politicas de cookies
        li
          a(href="#") Aviso legal
        li
          a(href="/sitemap") Mapa del sitio
      .banaky  Banaky © 2022