header
  .header  
    .navigation.fixed-navigation
      .logotype
        img(src="/img/prex-footer.png" alt="" srcset="")
      .menu-line
      //- //- .menu-line2
      .fa-solid.fa-bars
      ul.menu
        li.menu-item 
          a.menu-item-link(href="/") Home  
        //- li.menu-item.menu-item-subMenu
        //-   a.menu-item-link(href="#") 
        //-     a.link(href="http://")  Categorías
        //-     .fa-solid.fa-angle-down
        //-   ul.subMenu
        //-     li.subMenu-item 
        //-       a.subMenu-item-link(href="/") Categorie One
        //-     li.subMenu-item 
        //-       a.subMenu-item-link(href="/") Categorie Two
        //-     li.subMenu-item 
        //-       a.subMenu-item-link(href="/") Categorie Three
        //-     li.subMenu-item 
        //-       a.subMenu-item-link(href="/") Categorie Four
        //-     li.subMenu-item
        //-       a.subMenu-item-link(href="/") Categorie Five
        li.menu-item  
          a.menu-item-link(href="/about") Quiénes somos   
        li.menu-item  
          a.menu-item-link(href="/contact") Contáctanos   
        li.menu-item  
          a.menu-item-link(href="/orders") Portal de pedidos   
      .account 
        a.account-signup(href="#") 
          p Registrate
          .fa-solid.fa-user